<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button id="changeText" (click)="Scan()">
        <ion-icon slot="start" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- <ion-list>
  <ion-card-content *ngFor="let device of devices">
    <p>{{device.name||'Unnamed'}}</p>
    <p>{{device.id}}</p>
  </ion-card-content>
</ion-list> -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<ion-list>

  <ion-item *ngFor="let restaurant of matchingDevices" (click)="onClick(restaurant.userID)">
    <ion-label>{{restaurant.restaurantName}}</ion-label>
  </ion-item>
</ion-list>
</ion-content>
